@page "/warehouse/create"
@using Commons.Models.WarehouseDTO
@using MyShopSystem_UI.Service
@inject IWarehouseService warehouseService;
@inject NavigationManager navigation

<div class="card p-3 mt-3">
	<h4>Create Warehouse</h4>
	<div class="form-group">
		<label for="name">Name</label>
		<input id="name" class="form-control" @bind="newWarehouse.Name"/>
	</div>
	<div class="form-group">
		<label for="location">Location</label>
		<input id="location" class="form-control" @bind="newWarehouse.Location"/>
	</div>
	<div class="mt-3">
		<button class="btn btn-success" @onclick="CreateWarehouse">Save</button>
		<a class="btn btn-secondary" href="/warehouse">Cancel</a>
	</div>
</div>


@code {
	private CreateWarehouseDTO newWarehouse = new CreateWarehouseDTO();

	protected override async Task OnInitializedAsync()
	{

	}
	private async Task CreateWarehouse()
	{
		var result = await warehouseService.CreateWarehouse(newWarehouse);
		navigation.NavigateTo("/warehouse");
	}
}