@page "/user/edit/{Id:int}"
@using Commons.Models.UserDTO
@using MyShopSystem_UI.Service
@inject IUserService userService;
@inject NavigationManager navigation;

<h3>Edit User</h3>

@if (users != null)
{
	<div class="form-group">
		<label for="userName">UserName</label>
		<input id="userName" class="form-control" @bind="users.Username" />
	</div>
	<div class="form-group">
		<label for="passwordHash">PasswordHash</label>
		<input id="passwordHash" class="form-control" @bind="users.PasswordHash" />
	</div>
	<div class="mt-3">
		<button class="btn btn-success" @onclick="UpdateUser">Update</button>
		<a class="btn btn-secondary" href="/user">Cancel</a>
	</div>
}

@code {
	[Parameter] public int Id { get; set; }
	private GetUserDTO users { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{

	}
	protected override async Task OnParametersSetAsync()
	{
		users = await userService.GetUser(Id);
		StateHasChanged();
	}
	private async Task UpdateUser()
	{
		await userService.UpdateUser(users);
		navigation.NavigateTo("/user");
	}
}