@page "/products"
@using Commons.Models.ProductDTO
@using MyShopSystem_UI.Service
@inject IProductService productService
@inject NavigationManager navigation

<div class="d-flex justify-content-between">
    <h3>Maxsulotlar</h3>
    <a class="btn btn-primary" href="/products/create">Create</a>
</div>

@if (products == null)
{
    <p>Yuklanmoqda...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditProducts(product.Id)">Edit</button>
                        <button class="btn btn-primary" @onclick="() => DeleteProduct(product.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<GetProductListDTO> products = [];

    protected override async Task OnInitializedAsync()
    {
        products = await productService.GetAllProduct();
    }
    private void EditProducts(int Id)
    {
        navigation.NavigateTo($"/products/edit/{Id}");
    }
    private async Task DeleteProduct(int Id)
    {
        await productService.DeleteProduct(Id);
        products = await productService.GetAllProduct();
    }
  
}
